/*light*/
/*mid*/
/*dark*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\000034}}
html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\000035}}
body {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000318}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000319}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000320}}
*:focus, textarea:focus, input:focus {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000321}}
div, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000322}}
textarea {
  resize: none;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000323}}
::-webkit-input-placeholder {
  color: grey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000324}}
:-ms-input-placeholder {
  color: grey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000325}}
:-moz-placeholder {
  color: grey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000326}}
::-moz-placeholder {
  color: grey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000327}}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000329}}
a, a:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000330}}
iframe {
  background-color: transparent !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000331}}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_reset\.scss}line{font-family:\0000332}}
* {
  word-wrap: keep-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\000032}}
html, body {
  font-family: 'Amarante', cursive;
  color: white;
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  /* optional: for older browsers */
  -moz-font-feature-settings: "kern=1";
  /* pre-Firefox 14+ */
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  /* Firefox 14+ */
  font-feature-settings: "kern";
  /* standard */
  font-kerning: normal;
  /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased !important;
}
@media screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\000032}}
  html, body {
    font-size: 1.8vh;
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\000032}}
  html, body {
    font-size: 22px !important;
    letter-spacing: 1px !important;
  }
}
@media screen and (max-height: 840px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\000032}}
  html, body {
    font-size: 20px !important;
    letter-spacing: 1px !important;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000341}}
h1 {
  font-size: 200%;
  letter-spacing: 1.25vw;
  line-height: 1.3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000347}}
h2 {
  font-size: 160%;
  letter-spacing: 1vw;
  line-height: 1.2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000353}}
h3 {
  font-size: 120%;
  letter-spacing: 0.5vw;
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000359}}
p {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000363}}
p.small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000367}}
.upcase {
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000371}}
.green {
  color: #92d0b7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000375}}
.greendark {
  color: #65aba9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000379}}
.yellow {
  color: #c7d580;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000383}}
.pink {
  color: #f6989d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000387}}
.center {
  text-align: center;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000392}}
.bold {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\0000397}}
.desktop-hide {
  display: none;
}

@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\00003102}}
  .mobile-hide {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\00003105}}
  .desktop-hide {
    display: block;
  }
}
@media screen and (max-height: 840px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\00003111}}
  .mobile-hide {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_font\.scss}line{font-family:\00003114}}
  .desktop-hide {
    display: block;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_index\.scss}line{font-family:\000031}}
html, body {
  width: 100%;
  height: 100%;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_index\.scss}line{font-family:\000036}}
html div#wrapper, body div#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 680px;
  max-height: 900px;
  overflow: hidden;
  background-color: #caedcd;
}
@media screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_index\.scss}line{font-family:\0000318}}
  html div#wrapper, body div#wrapper {
    max-height: 750px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\000031}}
header#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000310}}
header#header div.bunting {
  position: absolute;
  top: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000313}}
header#header div.bunting.top {
  width: 792px;
  height: 106px;
  background-image: url("../imgs/bunting-top.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000319}}
header#header div.bunting.left {
  width: 562px;
  height: 116px;
  background-image: url("../imgs/bunting-left.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000325}}
header#header div.bunting.right {
  width: 562px;
  height: 116px;
  background-image: url("../imgs/bunting-right.png");
}
@media screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000340}}
  header#header div.bunting.top {
    left: 50%;
    margin-left: -396px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000344}}
  header#header div.bunting.left {
    right: 50%;
    margin-right: 396px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000348}}
  header#header div.bunting.right {
    left: 50%;
    margin-left: 396px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000361}}
  header#header div.bunting {
    background-size: 100% auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000362}}
  header#header div.bunting.top {
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000365}}
  header#header div.bunting.left, header#header div.bunting.right {
    display: none;
  }
}
@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000375}}
  header#header div.bunting {
    background-size: 130% auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000376}}
  header#header div.bunting.top {
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_header\.scss}line{font-family:\0000379}}
  header#header div.bunting.left, header#header div.bunting.right {
    display: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\000031}}
section.page {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  z-index: 11;
  height: 65%;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\0000315}}
section.page div.wrap {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\0000325}}
section.page#home div.rabbitbunting {
  position: absolute;
  bottom: 0;
  width: 940px;
  width: 100%;
  height: 348px;
  z-index: 11;
  background-image: url("../imgs/rabbit-bunting.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\0000347}}
section.page#day .img, section.page#info .img {
  position: absolute;
  bottom: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\0000355}}
section.page#day .img.left, section.page#info .img.left {
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\0000358}}
section.page#day .img.right, section.page#info .img.right {
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\0000365}}
section.page#day .info, section.page#info .info {
  position: relative;
  width: 60%;
  margin: 0 auto;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\0000370}}
section.page#day .info p, section.page#info .info p {
  color: #8a8c87;
  text-align: center;
  line-height: 1.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\0000371}}
section.page#day .info p span, section.page#info .info p span {
  color: #656565;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\0000375}}
section.page#day .info p span.title, section.page#info .info p span.title {
  color: #97CA54;
  font-size: 120%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\0000385}}
section.page#day .info p a, section.page#info .info p a {
  color: inherit !important;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\0000394}}
section.page#day .img {
  width: 100%;
  height: 50%;
  max-width: 238px;
  max-height: 288px;
  background-size: auto 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003102}}
section.page#day .img.left {
  background-image: url("../imgs/horse-left.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003106}}
section.page#day .img.right {
  background-image: url("../imgs/horse-right.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003116}}
section.page#info .img {
  width: 100%;
  height: 50%;
  max-width: 254px;
  max-height: 231px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003122}}
section.page#info .img.left {
  background-image: url("../imgs/fox.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003126}}
section.page#info .img.right {
  background-image: url("../imgs/duck.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003136}}
section.page#info .info p span.title {
  color: #90cdd2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003146}}
section.page#rsvp .rabbits {
  position: relative;
  width: 60%;
  height: 120%;
  margin: -10% auto;
  background-image: url("../imgs/circle-rabbits.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003161}}
section.page#rsvp .info {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  z-index: 11;
  margin-top: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003169}}
section.page#rsvp .info p {
  line-height: 1.2;
  position: relative;
  color: #65aba9;
  width: auto;
  height: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003170}}
section.page#rsvp .info p span {
  color: #90cdd2;
}
@media screen and (min-width: 940px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003189}}
  section.page#home div.rabbitbunting {
    width: 940px;
    left: 50%;
    margin-left: -470px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003203}}
  section.page#home div.info h1 {
    white-space: normal;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003209}}
  section.page#home div.rabbitbunting {
    width: 106%;
    left: -3%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003218}}
  section.page#info .img, section.page#day .img {
    background-position: center bottom;
    background-size: auto 100%;
    height: 30vw;
    min-height: 130px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003230}}
  section.page#info .info, section.page#day .info {
    width: 80%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003232}}
  section.page#info .info p, section.page#day .info p {
    line-height: 1.3;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003234}}
  section.page#info .info p br, section.page#day .info p br {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003248}}
  section.page#rsvp .rabbits {
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: auto 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003255}}
  section.page#rsvp .info {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003267}}
  section.page#home div.info h1 {
    white-space: normal;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003272}}
  section.page#home div.rabbitbunting {
    width: 112%;
    left: -6%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003282}}
  section.page#info .img, section.page#day .img {
    background-position: center bottom;
    max-width: 100%;
    background-size: auto 100%;
    height: 44vw;
    min-height: 130px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003288}}
  section.page#info .img.right, section.page#day .img.right {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003293}}
  section.page#info .info, section.page#day .info {
    width: 94%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003295}}
  section.page#info .info p, section.page#day .info p {
    line-height: 1.1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003298}}
  section.page#info .info p br, section.page#day .info p br {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003307}}
  section.page#info div.cathedral, section.page#day div.cathedral {
    background-size: 60% auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003313}}
  section.page#rsvp .rabbits {
    width: 86%;
    height: 90%;
    margin: 0 7%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003319}}
  section.page#rsvp .info {
    position: relative;
    display: block;
    height: auto;
    margin: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_section\.scss}line{font-family:\00003324}}
  section.page#rsvp .info p {
    display: block;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\000031}}
footer#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000311}}
footer#footer div.floor {
  width: 100%;
  height: auto;
  padding-top: 5%;
  margin-top: -4.95%;
  background-image: url("../imgs/grass-tile.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: center bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000324}}
footer#footer nav#navigation {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000333}}
footer#footer nav#navigation ul {
  position: absolute;
  bottom: 0;
  height: 100%;
  max-height: 78px;
  width: 100%;
  padding: 0 10%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000340}}
footer#footer nav#navigation ul li {
  list-style: none;
  width: 25%;
  height: 100%;
  cursor: pointer;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000348}}
footer#footer nav#navigation ul li:before {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 200%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000360}}
footer#footer nav#navigation ul li:nth-child(1):before {
  background-image: url("../imgs/nav-arrows-1.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000365}}
footer#footer nav#navigation ul li:nth-child(2):before {
  background-image: url("../imgs/nav-arrows-2.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000370}}
footer#footer nav#navigation ul li:nth-child(3):before {
  background-image: url("../imgs/nav-arrows-3.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000375}}
footer#footer nav#navigation ul li:nth-child(4):before {
  background-image: url("../imgs/nav-arrows-4.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000381}}
footer#footer nav#navigation ul li.selected:before {
  background-position: center bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000385}}
footer#footer nav#navigation ul li:hover:before {
  background-position: center bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\0000389}}
footer#footer nav#navigation ul li h3 {
  margin-top: -4vw;
  color: #8a8c87;
  text-align: center;
}
@media screen and (min-width: 940px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\00003106}}
  footer#footer nav#navigation ul li h3 {
    margin-top: -2.5vw;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\00003119}}
  footer#footer div.floor {
    background-size: auto 100%;
    background-position: center bottom;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\00003135}}
  footer#footer nav#navigation ul li h3 {
    margin-top: -4vw;
    font-size: 100%;
  }
}
@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\00003150}}
  footer#footer div.floor {
    background-size: auto 100%;
    background-position: center bottom;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\00003158}}
  footer#footer nav#navigation ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\00003168}}
  footer#footer nav#navigation ul li:before {
    bottom: -15%;
    width: 25%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_footer\.scss}line{font-family:\00003173}}
  footer#footer nav#navigation ul li h3 {
    font-size: 90%;
  }
}

@-webkit-keyframes fadein {
  to {
    opacity: 1;
  }

  from {
    opacity: 0;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }

  from {
    opacity: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_animations\.scss}line{font-family:\0000321}}
.fadein {
  -webkit-animation: fadein 1s linear 1;
  -moz-animation: fadein 1s linear 1;
  -ms-animation: fadein 1s linear 1;
  -o-animation: fadein 1s linear 1;
  animation: fadein 1s linear 1;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes moveup {
  to {
    bottom: 0%;
    opacity: 1;
  }

  from {
    bottom: -20%;
    opacity: 1;
  }
}

@keyframes moveup {
  to {
    bottom: 0%;
    opacity: 1;
  }

  from {
    bottom: -20%;
    opacity: 1;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_animations\.scss}line{font-family:\0000359}}
.moveup {
  -webkit-animation: moveup 1s linear 1;
  -moz-animation: moveup 1s linear 1;
  -ms-animation: moveup 1s linear 1;
  -o-animation: moveup 1s linear 1;
  animation: moveup 1s linear 1;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_animations\.scss}line{font-family:\00003108}}
.spin {
  -webkit-animation: spin 33s linear infinite;
  -moz-animation: spin 33s linear infinite;
  -ms-animation: spin 33s linear infinite;
  -o-animation: spin 33s linear infinite;
  animation: spin 33s linear infinite;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_animations\.scss}line{font-family:\00003116}}
.delay1 {
  opacity: 0;
  -webkit-animation-delay: 0.5s !important;
  /* Chrome, Safari, Opera */
  -moz-animation-delay: 0.5s !important;
  -ms-animation-delay: 0.5s !important;
  -o-animation-delay: 0.5s !important;
  animation-delay: 0.5s !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_animations\.scss}line{font-family:\00003125}}
.delay2 {
  opacity: 0;
  -webkit-animation-delay: 1s !important;
  /* Chrome, Safari, Opera */
  -moz-animation-delay: 1s !important;
  -ms-animation-delay: 1s !important;
  -o-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_animations\.scss}line{font-family:\00003134}}
.delay3 {
  opacity: 0;
  -webkit-animation-delay: 1.5s !important;
  /* Chrome, Safari, Opera */
  -moz-animation-delay: 1.5s !important;
  -ms-animation-delay: 1.5s !important;
  -o-animation-delay: 1.5s !important;
  animation-delay: 1.5s !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_animations\.scss}line{font-family:\00003144}}
.time1 {
  -webkit-animation-duration: 0.5s !important;
  /* Chrome, Safari, Opera */
  -moz-animation-duration: 0.5s !important;
  -ms-animation-duration: 0.5s !important;
  -o-animation-duration: 0.5s !important;
  animation-duration: 0.5s !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_animations\.scss}line{font-family:\00003152}}
.time2 {
  -webkit-animation-duration: 1s !important;
  /* Chrome, Safari, Opera */
  -moz-animation-duration: 1s !important;
  -ms-animation-duration: 1s !important;
  -o-animation-duration: 1s !important;
  animation-duration: 1s !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/garyg\/Dropbox\/Work\/oddsockgames\/katandjonny\.co\.uk\/source\/sass\/_animations\.scss}line{font-family:\00003160}}
.time3 {
  -webkit-animation-duration: 1.5s !important;
  /* Chrome, Safari, Opera */
  -moz-animation-duration: 1.5s !important;
  -ms-animation-duration: 1.5s !important;
  -o-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important;
}
