/*light*/
/*mid*/
/*dark*/
/* line 4, ../../source/sass/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

/* line 5, ../../source/sass/_reset.scss */
body {
  background-color: white;
}

/* line 18, ../../source/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 19, ../../source/sass/_reset.scss */
html {
  line-height: 1;
}

/* line 20, ../../source/sass/_reset.scss */
*:focus, textarea:focus, input:focus {
  outline: none;
}

/* line 21, ../../source/sass/_reset.scss */
div, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 22, ../../source/sass/_reset.scss */
textarea {
  resize: none;
  overflow: hidden;
}

/* line 23, ../../source/sass/_reset.scss */
::-webkit-input-placeholder {
  color: grey;
}

/* line 24, ../../source/sass/_reset.scss */
:-ms-input-placeholder {
  color: grey;
}

/* line 25, ../../source/sass/_reset.scss */
:-moz-placeholder {
  color: grey;
}

/* line 26, ../../source/sass/_reset.scss */
::-moz-placeholder {
  color: grey;
}

/* line 27, ../../source/sass/_reset.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 29, ../../source/sass/_reset.scss */
a, a:hover {
  text-decoration: none;
}

/* line 30, ../../source/sass/_reset.scss */
iframe {
  background-color: transparent !important;
}

/* line 31, ../../source/sass/_reset.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 32, ../../source/sass/_reset.scss */
* {
  word-wrap: keep-word;
}

/* line 2, ../../source/sass/_font.scss */
html, body {
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-weight: 600;
  font-size: 2.2vw;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  /* optional: for older browsers */
  -moz-font-feature-settings: "kern=1";
  /* pre-Firefox 14+ */
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  /* Firefox 14+ */
  font-feature-settings: "kern";
  /* standard */
  font-kerning: normal;
  /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased !important;
}
@media screen and (max-width: 768px) {
  /* line 2, ../../source/sass/_font.scss */
  html, body {
    font-size: 1.8vh;
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 1024px) {
  /* line 2, ../../source/sass/_font.scss */
  html, body {
    font-size: 22px !important;
    letter-spacing: 1px !important;
  }
}
@media screen and (max-height: 840px) {
  /* line 2, ../../source/sass/_font.scss */
  html, body {
    font-size: 20px !important;
    letter-spacing: 1px !important;
  }
}

/* line 40, ../../source/sass/_font.scss */
h1 {
  font-size: 200%;
  letter-spacing: 1.25vw;
  line-height: 1.3;
}

/* line 46, ../../source/sass/_font.scss */
h2 {
  font-size: 160%;
  letter-spacing: 1vw;
  line-height: 1.2;
}

/* line 52, ../../source/sass/_font.scss */
h3 {
  font-size: 120%;
  letter-spacing: 0.5vw;
  line-height: 1;
}

/* line 58, ../../source/sass/_font.scss */
p {
  font-size: 100%;
}

/* line 62, ../../source/sass/_font.scss */
p.small {
  font-size: 80%;
}

/* line 66, ../../source/sass/_font.scss */
.upcase {
  text-transform: uppercase;
}

/* line 70, ../../source/sass/_font.scss */
.green {
  color: #92d0b7;
}

/* line 74, ../../source/sass/_font.scss */
.greendark {
  color: #65aba9;
}

/* line 78, ../../source/sass/_font.scss */
.yellow {
  color: #c7d580;
}

/* line 82, ../../source/sass/_font.scss */
.pink {
  color: #f6989d;
}

/* line 86, ../../source/sass/_font.scss */
.center {
  text-align: center;
  width: 100%;
}

/* line 91, ../../source/sass/_font.scss */
.bold {
  font-weight: bold;
}

/* line 96, ../../source/sass/_font.scss */
.desktop-hide {
  display: none;
}

@media screen and (max-width: 480px) {
  /* line 101, ../../source/sass/_font.scss */
  .mobile-hide {
    display: none;
  }

  /* line 104, ../../source/sass/_font.scss */
  .desktop-hide {
    display: block;
  }
}
@media screen and (max-height: 840px) {
  /* line 110, ../../source/sass/_font.scss */
  .mobile-hide {
    display: none;
  }

  /* line 113, ../../source/sass/_font.scss */
  .desktop-hide {
    display: block;
  }
}
/* line 1, ../../source/sass/_index.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: white;
}
/* line 6, ../../source/sass/_index.scss */
html div#wrapper, body div#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 680px;
  max-height: 900px;
  overflow: hidden;
  background-color: #caedcd;
}
@media screen and (max-width: 768px) {
  /* line 18, ../../source/sass/_index.scss */
  html div#wrapper, body div#wrapper {
    max-height: 750px;
  }
}
@media screen and (max-width: 480px) {
  /* line 24, ../../source/sass/_index.scss */
  html div#wrapper, body div#wrapper {
    max-height: 650px;
  }
}

/* line 1, ../../source/sass/_header.scss */
header#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
}
/* line 10, ../../source/sass/_header.scss */
header#header div.bunting {
  position: absolute;
  top: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 13, ../../source/sass/_header.scss */
header#header div.bunting.top {
  width: 792px;
  height: 106px;
  background-image: url("../imgs/bunting-top.png");
}
/* line 19, ../../source/sass/_header.scss */
header#header div.bunting.left {
  width: 562px;
  height: 116px;
  background-image: url("../imgs/bunting-left.png");
}
/* line 25, ../../source/sass/_header.scss */
header#header div.bunting.right {
  width: 562px;
  height: 116px;
  background-image: url("../imgs/bunting-right.png");
}
@media screen and (min-width: 768px) {
  /* line 40, ../../source/sass/_header.scss */
  header#header div.bunting.top {
    left: 50%;
    margin-left: -396px;
  }
  /* line 44, ../../source/sass/_header.scss */
  header#header div.bunting.left {
    right: 50%;
    margin-right: 396px;
  }
  /* line 48, ../../source/sass/_header.scss */
  header#header div.bunting.right {
    left: 50%;
    margin-left: 396px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 768px) {
  /* line 61, ../../source/sass/_header.scss */
  header#header div.bunting {
    background-size: 100% auto;
  }
  /* line 62, ../../source/sass/_header.scss */
  header#header div.bunting.top {
    width: 100%;
  }
  /* line 65, ../../source/sass/_header.scss */
  header#header div.bunting.left, header#header div.bunting.right {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 75, ../../source/sass/_header.scss */
  header#header div.bunting {
    background-size: 130% auto;
  }
  /* line 76, ../../source/sass/_header.scss */
  header#header div.bunting.top {
    width: 100%;
  }
  /* line 79, ../../source/sass/_header.scss */
  header#header div.bunting.left, header#header div.bunting.right {
    display: none;
  }
}

/* line 1, ../../source/sass/_section.scss */
section#section {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  z-index: 11;
  height: 65%;
}
/* line 9, ../../source/sass/_section.scss */
section#section div.info {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
/* line 16, ../../source/sass/_section.scss */
section#section div.info h1 {
  white-space: nowrap;
}
/* line 22, ../../source/sass/_section.scss */
section#section div.cathedral {
  position: absolute;
  display: none;
  bottom: 0;
  width: 100%;
  height: 374px;
  background-image: url("../imgs/cathedral.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 50%;
}
/* line 36, ../../source/sass/_section.scss */
section#section div.bunting {
  position: absolute;
  bottom: 25%;
  left: 50%;
  margin-left: -240.5px;
  width: 481px;
  height: 102px;
  background-image: url("../imgs/bunting-center.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 49, ../../source/sass/_section.scss */
section#section div.rabbitbunting {
  position: absolute;
  bottom: 0;
  width: 940px;
  width: 100%;
  height: 348px;
  z-index: 11;
  background-image: url("../imgs/rabbit-bunting.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
}
/* line 66, ../../source/sass/_section.scss */
section#section div.rabbit {
  position: absolute;
  bottom: 0;
  width: 260px;
  height: 340px;
  z-index: 11;
  background-image: url("../imgs/rabbit-left.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 77, ../../source/sass/_section.scss */
section#section div.rabbit.left {
  left: 1%;
}
/* line 81, ../../source/sass/_section.scss */
section#section div.rabbit.right {
  right: 1%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
@media screen and (min-width: 940px) {
  /* line 94, ../../source/sass/_section.scss */
  section#section div.rabbitbunting {
    width: 940px;
    left: 50%;
    margin-left: -470px;
  }
}
@media screen and (max-width: 768px) {
  /* line 105, ../../source/sass/_section.scss */
  section#section div.info h1 {
    white-space: normal;
  }
  /* line 111, ../../source/sass/_section.scss */
  section#section div.rabbitbunting {
    width: 106%;
    left: -3%;
  }
}
@media screen and (max-width: 480px) {
  /* line 1, ../../source/sass/_section.scss */
  section#section {
    		/*
    		div.bunting{
    			width:100%;
    			margin-left:0;
    			left:0;
    			bottom:30%;
    			background-size: 100% auto;
    		}
    
    		div.rabbit{
    			width: 260px;
    			height: 340px;
    			display:none;
    
    			&.left{
    				left:0;
    				margin-left:0;
    			}
    
    			&.right{
    				right:0;
    				margin-right:0;
    			}
    		}
    
    		*/
  }
  /* line 122, ../../source/sass/_section.scss */
  section#section div.info h1 {
    white-space: normal;
  }
  /* line 127, ../../source/sass/_section.scss */
  section#section div.rabbitbunting {
    width: 112%;
    left: -6%;
  }
  /* line 132, ../../source/sass/_section.scss */
  section#section div.cathedral {
    display: none;
  }
}

/* line 1, ../../source/sass/_footer.scss */
footer#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: white;
}
/* line 10, ../../source/sass/_footer.scss */
footer#footer div.floor {
  width: 100%;
  height: auto;
  padding-top: 5%;
  margin-top: -5%;
  background-image: url("../imgs/grass-tile.png");
  background-repeat: repeat-x;
  background-position: center bottom;
}
/* line 23, ../../source/sass/_footer.scss */
footer#footer div.info {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
/* line 30, ../../source/sass/_footer.scss */
footer#footer div.info h2, footer#footer div.info h3 {
  position: absolute;
  bottom: 5%;
}
